.App {
  text-align: center;
}

.image_class{
  width: 50%;
}

.image_internal_class{
  width: 100%;
  display:block;
  max-height: 60%;
}

table {
  table-layout: fixed;
  width: 50%;

}

h3{
font: italic 1.4rem;
font-family: 'Oooh Baby', cursive;
color: black;
}

td{
  font: italic 1.2rem bold;
  font-family: 'Oooh Baby', cursive;
}
body{
  background-color: #DAE2B6;
}
